# Conexión para usar desde tu Windows (Prisma Studio / Migraciones manuales)
DATABASE_URL="postgresql://admin:password123@postgres:5432/streamhub_db?schema=users"
JWT_SECRET=super_secret_ultra_seguro_123